USE [master]
GO
/****** Object:  Database [FitCard_DesafioPratico]    Script Date: 25/01/2019 01:34:45 ******/
CREATE DATABASE [FitCard_DesafioPratico]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FitCard_DesafioPratico', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQL2017\MSSQL\DATA\FitCard_DesafioPratico.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FitCard_DesafioPratico_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQL2017\MSSQL\DATA\FitCard_DesafioPratico_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FitCard_DesafioPratico].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FitCard_DesafioPratico]
GO
USE [FitCard_DesafioPratico]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 25/01/2019 01:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EST_ESTABELECIMENTOS]    Script Date: 25/01/2019 01:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EST_ESTABELECIMENTOS](
	[EST_ID] [int] IDENTITY(1,1) NOT NULL,
	[EST_RAZAOSOCIAL] [nvarchar](100) NOT NULL,
	[EST_NOMEFANTASIA] [nvarchar](100) NULL,
	[EST_CNPJ] [nvarchar](18) NOT NULL,
	[EST_EMAIL] [nvarchar](100) NULL,
	[EST_TELEFONE] [nvarchar](100) NULL,
	[EST_CATEGORIA] [int] NULL,
	[EST_STATUS] [int] NULL,
	[EST_AGENCIA] [nvarchar](5) NULL,
	[EST_CONTA] [nvarchar](8) NULL,
	[EST_ENDERECO] [nvarchar](100) NULL,
	[EST_CIDADE] [nvarchar](100) NULL,
	[EST_ESTADO] [nvarchar](50) NULL,
	[EST_DATACADASTRO] [datetime] NULL,
 CONSTRAINT [PK_dbo.EST_ESTABELECIMENTOS] PRIMARY KEY CLUSTERED 
(
	[EST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
